<nav class="navbar w-100">
    <a class="navbar-brand text-white text-decoration-none text-center" href="#">
        <img src="{{ logo }}" alt="{{ title }} Logo" class="rounded-circle col-7">
        <h1 class="border-bottom">{{ title }}</h1>
    </a>
    <ul class="navbar-nav p-0 m-0 w-100">
        <li class="nav-item p-">
            <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Tasks List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">New Task</a>
        </li>
    </ul>
</nav>